.idea
src/**/*.js
src/**/*.js.map
typings
dist
coverage
ts-out
npm-debug.log
debug.log
karma_html
Documentation
package-lock.json
node_modules/*

# allow one needed self created type for now, 
# remove with an updated version of pixie-viewport 
# as it seems it was added there
!node_modules/@types/
node_modules/@types/*
!node_modules/@types/pixi-viewport/

