<!DOCTYPE html>

<script>
   // PREVENT DOUBLE-CLICK SELECT ALL ON CANVAS
   document.addEventListener('mousedown', function (event) {
      if (event.detail > 1) {
         if (event.composedPath().find(e => e.id === "maincanvas"))
            event.preventDefault();
      }
   }, false);
</script>

<div class="container-fluid py-0 my-0 px-0 mx-0 vh-100" style="min-height: 450px;">
   <dev class="d-flex flex-column py-0 my-0 px-0 mx-0 h-100">
      <div class="d-flex flex-row mx-0 my-0 w-100">
         <template-loader template="MainHeader" class="w-100"></template-loader> 
      </div>
      <div class="d-flex flex-row flex-fill mr-1 ml-1 mb-1" >
         <canvas id="maincanvas"></canvas>
      </div>
   </dev>
</div>