<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarToggle">
      <a class="navbar-brand" href="#">DaMa</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
         <li class="nav-item active">
            <a class="nav-link">Project</a>
         </li>

         <!-- Test -->
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               Project Operations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#" data-dama-click="dama::editor::showProjectList">List Projects</a>
               <a class="dropdown-item" href="#" data-dama-click="dama::editor::showProjectList" onclick="alert('test')" >Create Test Project</a>
               <a class="dropdown-item" href="#">(Re)Load Test Project</a>
               <a class="dropdown-item" href="#">Delete Test Project</a>
               <a class="dropdown-item" href="#">Update Test Project</a>
            </div>
         </li>

         <li class="nav-item">
            <a class="nav-link">Edit</a>
         </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
         <button class="btn btn-outline-primary my-2 my-sm-0" type="button" title="Settings">
            <i class="fas fa-cogs"></i>
         </button>
      </div>
   </div>
</nav>